<div #container> </div>

<!-- xAPI Panel -->
<div class="xapi-panel" *ngIf="xapiDebugInfo.endpoint && xapiDebugInfo.auth && xapiDebugInfo.actor">
  <details>
    <summary>xAPI Launch Params</summary>
    <table class="xapi-table">
      <tr>
        <td class="xapi-label">Endpoint:</td>
        <td class="xapi-value">{{ xapiDebugInfo.endpoint }}</td>
      </tr>
      <tr>
        <td class="xapi-label">Auth:</td>
        <td class="xapi-value">***</td>
      </tr>
      <tr>
        <td class="xapi-label">Actor:</td>
        <td class="xapi-value">{{ xapiDebugInfo.actor }}</td>
      </tr>
      <tr>
        <td class="xapi-label">Registration:</td>
        <td class="xapi-value">{{ xapiDebugInfo.registration || 'Will be generated' }}</td>
      </tr>
    </table>
  </details>
</div>